
@media all and (max-width:991px) {
	
	#work {
		padding-top: 30px;
	}
	
	.work-heading {
		padding-bottom: 10px;
		margin-top: 25px;
	}
	
	.first {
		margin-left: -15px;
	}
	
	.work-paragraph {
		font-size: 16px;
		line-height: 1.6;
	}
	
	input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="phone"], 
select, 
select:focus {
	margin-top: 25px;
}
.btn-contact {
	width: 100%;
	min-width: 100%:
}

#agency-info {
	text-align: center;
}

.socials {
	margin-top: 20px;
	text-align: center;
}
.intro {
	padding-bottom: 40px;
}


}

@media all and (max-width:768px) {
    
	#work {
		margin-left: 35px;
	}

.btn-contact {
	width: 100%;
}

.list-inline li {
	padding-left: 22px;
}

.btn-arrow,
.top {
	display: none;
}

	
}
@media all and (max-width: 767px) {
	.navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
				background-color: rgba(23,23,23,0.86);
    }
		
		.navbar {
			background-color: rgba(23,23,23,0.86);
		}
		
		.nav>li>a {
			margin-left: 0;
		}
		
		.btn-remove {
			border: none;
		}
}

@media all and (max-width: 480px) {
	.col-xs-6 {
width: 100%;
}

.intro-text {
	font-size: 16px;
	text-align: justify;
}

.brand-heading {
	font-size: 30px;
}

.brand-subheading {
	font-size: 30px;
}

.btn-project {
	width: 100%;
	min-width: 100%;
}

.btn-contact {
	padding: 10px 50px;
	
}

.btn-project {
	padding: 20px 20px;
}

.team-heading {
	font-size: 30px;
}

.team-paragraph,
.contact-paragraph {
	font-size: 16px;
}

	
}